/* General */
.red{
	color: red;
}

textarea {
	font-size: 1.2em;
}

#messages{
	width: 75%;
	border: 2px solid #999;
}

#messages table{
	padding: 5px;
}

.folk_name{
	font-weight: bold;
	font-size: 1.2em;
	vertical-align: top;
}

.folk_message{
	padding: 0px 0px 5px 5px;
}

.notification{
	font-style: italic;
	padding: 0px 0px 5px 5px;
}

/* Side Bar */

#folks{
	float: right;
	width: 20%;
}

/* Post Message Form */
#new_post{
	width: 75%;
	padding-top: 5px;
}

#new_post table{
	width: 100%;
}

#new_post table textarea{
	width: 100%;
}

#new_post table input{
	float:right;
}
