<h1>Welcome to the Chat Rooms</h1>
<h2>What nickname do you want to use?</h2>

<% form_for(@folk) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name %><%= f.submit 'Go!' %>
  </p>
<% end %>
