<h1>Chat Room Lobby</h1>

<h3>Pick a Room to Join</h3>
<table id="room_list">
<%= render :partial => 'room', :collection => @rooms, :locals => {:folk => @folk} %>
</table>

<br />
<h3>Or create a new one...</h3>
<% remote_form_for(@new_room) do |f| %>
	<%= f.text_field :name %> <%= f.submit "Create New Room" %>
	<%= hidden_field_tag :folk, @folk.id  %>
<% end %>