<h1>Chat Room Lobby</h1>

<table>
  <tr>
    <th>Pick a Room to Join</th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= link_to room.name, room_url(room) + "?folk=#{@folk.id}" %></td>
    <td><%= link_to 'Destroy', room, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<h3>Or create a new one...</h3>
<%= link_to 'New room', new_room_path %>